### Exercise 1. Creates a list similar to the following one in which all the elements are integers

In [5]:
l = [1, 2.0, '3', 4.0, 5, '6', 7.0, 8, '9', '10']

#Â using the list l
l_integers = list()
for i in l:
    l_integers.append(int(i))
l_integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2. Creates a list for the names `name` and another for the age `age`

In [21]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26 ]
# is the position odd or even?
# is integer of string?
l[::2]

['Chandler', 'Phoebe', 'Monika', 'Joey']

In [8]:
l[1::2]

[25, 28, 27, 26]

In [13]:
name = list()
age = list()
for i in l:
    if isinstance(i, str):
        name.append(i)
    else:
        age.append(i)

### Exercise 3. Separate the list in three `name`, `age` and `phone`

In [23]:
l = ['Chandler', 25, 755.5664,  'Phoebe', 28, 755.5904,  
     'Monika', 27, 655.5297, 'Joey', 26, 655.5722]

In [31]:
l[0::3]

['Chandler', 'Phoebe', 'Monika', 'Joey']

In [32]:
l[1::3]

[25, 28, 27, 26]

In [33]:
l[2::3]

['755.5664', '755.5904', '655.5297', '655.5722']

### Exercise 4. Same than in ex.3, be sure that the number is a float

In [34]:
l = ['Chandler', 25, "755.5664",  'Phoebe', 28, "755.5904",  
     'Monika', 27, "655.5297", 'Joey', 26, "655.5722"]

In [36]:
phone = list()
for i in l[2::3]:
    phone.append(float(i))

In [39]:
[float(i) for i in l[2::3]]

[755.5664, 755.5904, 655.5297, 655.5722]

### Exercise 5. Same than in ex.3 and 4, but parsing the phone number

In [8]:
l = ['Chandler', 25, "+34-755-5664",  'Phoebe', 28, "+34-755-5904",  
     'Monika', 27, "+34-655-5297", 'Joey', 26, "+34-655-5722"]

In [62]:
"+34-655-5297".strip('+34-')

'655-5297'

In [51]:
float("+34-655-5297".replace('+34-','').replace('-','.'))

655.5297

### Exercise 6. It has been a year since they started recording the TV show so add 1 year to the age of each

In [73]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]

In [74]:
for i in range(0,len(l)):
    if isinstance(l[i], int):
        l[i] += 1

In [98]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
l_new = ['Rachel', 24, 'Ross', 27]
l.extend(l_new)
l

['Chandler',
 25,
 'Phoebe',
 28,
 'Monika',
 27,
 'Joey',
 26,
 'Rachel',
 24,
 'Ross',
 27]

### Exercise 7. Create a list for `name` and a list for `age`. Sort both lists according to age (ascending)

In [12]:
s_age = sorted(age)

### Exercise 8. Create a function to order one list using other list.

### Exercise 9. Separate `age_new` and `name_new` and sort names in age order using previous function

In [15]:
l_new = ['Rachel', 24, 'Ross', 27, 'Monika', 25]

### Exercise 10. Join `l` with `l_new`, separate `age` and `name` sort them and remove those with age higher than 26

In [21]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
l_new = ['Rachel', 24, 'Ross', 27]