### Exercise 1. Creates a list similar to the following one in which all the elements are integers

In [1]:
l = [1, 2.0, '3', 4.0, 5, '6', 7.0, 8, '9', '10']

#Â using the list l
l_integers = list()
for i in l:
    l_integers.append(int(i))
l_integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2. Creates a list for the names `name` and another for the age `age`

In [26]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26 ]
# is the position odd or even?
# is integer of string?
l[::2]

['Chandler', 'Phoebe', 'Monika', 'Joey']

In [27]:
l[1::2]

[25, 28, 27, 26]

In [28]:
name = list()
age = list()
for i in l:
    if isinstance(i, str):
        name.append(i)
    else:
        age.append(i)

### Exercise 3. Separate the list in three `name`, `age` and `phone`

In [5]:
l = ['Chandler', 25, 755.5664,  'Phoebe', 28, 755.5904,  
     'Monika', 27, 655.5297, 'Joey', 26, 655.5722]

In [6]:
l[0::3]

['Chandler', 'Phoebe', 'Monika', 'Joey']

In [7]:
l[1::3]

[25, 28, 27, 26]

In [8]:
l[2::3]

[755.5664, 755.5904, 655.5297, 655.5722]

### Exercise 4. Same than in ex.3, be sure that the number is a float

In [9]:
l = ['Chandler', 25, "755.5664",  'Phoebe', 28, "755.5904",  
     'Monika', 27, "655.5297", 'Joey', 26, "655.5722"]

In [10]:
phone = list()
for i in l[2::3]:
    phone.append(float(i))

In [11]:
[float(i) for i in l[2::3]]

[755.5664, 755.5904, 655.5297, 655.5722]

### Exercise 5. Same than in ex.3 and 4, but parsing the phone number

In [12]:
l = ['Chandler', 25, "+34-755-5664",  'Phoebe', 28, "+34-755-5904",  
     'Monika', 27, "+34-655-5297", 'Joey', 26, "+34-655-5722"]

In [13]:
"+34-655-5297".strip('+34-')

'655-5297'

In [14]:
float("+34-655-5297".replace('+34-','').replace('-','.'))

655.5297

### Exercise 6. It has been a year since they started recording the TV show so add 1 year to the age of each

In [15]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]

In [16]:
for i in range(0,len(l)):
    if isinstance(l[i], int):
        l[i] += 1

In [17]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
l_new = ['Rachel', 24, 'Ross', 27]
l.extend(l_new)
l

['Chandler',
 25,
 'Phoebe',
 28,
 'Monika',
 27,
 'Joey',
 26,
 'Rachel',
 24,
 'Ross',
 27]

### Exercise 7. Create a list for `name` and a list for `age`. Sort both lists according to age (ascending)

In [29]:
s_age = sorted(age)

s_name = list()
for a in age:
    for i in range(0,len(s_age)):
        if s_age[i] == a:
            s_name.append(name[i])
s_name

['Chandler', 'Joey', 'Monika', 'Phoebe']

In [30]:
sorted(zip(age, name))[0]

(25, 'Chandler')

In [34]:
_, n = sorted(zip(age, name))[0]

In [43]:
[i for  i, _ in sorted(zip(age, name))]

[25, 26, 27, 28]

In [51]:
[name for age,name in sorted(zip(l[1::2],l[::2]))]

['Chandler', 'Joey', 'Monika', 'Phoebe']

In [53]:
sorted(zip(l[1::2],l[::2]))

[(25, 'Chandler'), (26, 'Joey'), (27, 'Monika'), (28, 'Phoebe')]

### Exercise 8. Create a function to order one list using other list.

In [20]:
def sort_one_list_by_other(l, by):
    by_sorted = sorted(by)
    l_sorted = list()
    positions = range(0, len(by))
    for b in by:
        for i in positions:
            if by_sorted[i] == b:
                l_sorted.append(l[i])
    return l_sorted

### Exercise 9. Separate `age_new` and `name_new` and sort names in age order using previous function

In [85]:
l_new = ['Rachel', 24, 'Ross', 27, 'Monika', 25]

In [1]:
age_new  = list()
name_new = list()
for i in l:
    if isinstance(i, str):
        name_new.append(i)
    else:
        age_new.append(i)

NameError: name 'l' is not defined

In [2]:
s_age_new = sorted(age_new)
s_nme_new = sort_one_list_by_other(name_new, age_new)
print(s_age_new)
print(s_nme_new)

NameError: name 'sort_one_list_by_other' is not defined

### Exercise 10. Join `l` with `l_new`, separate `age` and `name` sort them and remove those with age higher than 26

In [88]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26]
l_new = ['Rachel', 24, 'Ross', 27]

In [89]:
l.extend(l_new)

In [90]:
name=l[::2]

In [91]:
age=l[1::2]

In [92]:
name_sorted = sort_one_list_by_other(name,age)
age_sorted = sorted(age)

In [93]:
print(name_sorted)

['Phoebe', 'Ross', 'Joey', 'Rachel', 'Monika', 'Chandler', 'Joey', 'Rachel']

In [94]:
print(age_sorted)

[24, 25, 26, 27, 27, 28]