### Exercise 1. Using the following list, clean all the elements, the sould be in lowercase and without spaces

Hint
```python
"bear" in ["bear", "lion"]
```

In [1]:
zoo  = ['bEAr ', ' liOn', 'panda', ' zebra', 'chiMpanzee ', 
        'goRIlla', 'ORangUtan ', 'gIbbon', 'giBBon ', 'beAr', 'lIon ', 'paNda ' ]

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon',
 'gibbon',
 'bear',
 'lion',
 'panda']

### Exercise 2. Using the following list, create a list containing the unique values, i.e. no duplicates, name it `zoo_unique`

Hint
```python
"bear" in ["bear", "lion"]
```

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon']

### Exercise 3. Crea a function that takes a string ex. 'bear' and return it with the first letter in uppercase 'Bear'

```python
def capitalize(string):
    # reuturn the first letter in capital
```

### Exercise 4. Apply the previous function to all the elements in `zoo_unique`

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 5. Merge all elements in alphabetical order in the list separated by '-'
Hint
```python
'-'.join
```

'Bear-Chimpanzee-Gibbon-Gorilla-Lion-Orangutan-Panda-Zebra'

### Exercise 6. Replicate the function of `join` without using it, use a foor loop

'Bear-Chimpanzee-Gibbon-Gorilla-Lion-Orangutan-Panda-Zebra'

### Exercise 7. Capitalize each element in the following list using a list comprehension

In [9]:
zoo  = ['bEAr ', ' liOn', 'panda', ' zebra', 'chiMpanzee ', 
        'goRIlla', 'ORangUtan ', 'gIbbon']

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 8. Remove blanks elements

In [11]:
zoo = ['Bear','Lion', '', 'Panda', 'Zebra', '', 'Chimpanzee', 'Gorilla', '  ', 'Orangutan', 'Gibbon', '']

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

In [13]:
zoo = ['Bear','Lion', '', 'Panda', 'Zebra', '', 'Chimpanzee', 'Gorilla', '  ', 'Orangutan', 'Gibbon', '']

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 9. Filter those elements that starts with a b or ends witha a

In [15]:
zoo = ['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

['Bear']

['Panda', 'Zebra', 'Gorilla']

### Exercise 10. Filter those elements that have more than 5 letters
```python
['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']
['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

```

['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']