### Exercise 1. Using the following list, clean all the elements, the sould be in lowercase and without spaces

In [1]:
zoo  = ['bEAr ', ' liOn', 'panda', ' zebra', 'chiMpanzee ', 
        'goRIlla', 'ORangUtan ', 'gIbbon', 'giBBon ', 'beAr', 'lIon ', 'paNda ' ]

In [2]:
zoo = [animal.strip().lower() for animal in zoo]

### Exercise 2. Using the following list, create a list containing the unique values, i.e. no duplicates, name it `zoo_unique`

Hint
```python
"bear" in ["bear", "lion"]
```

In [3]:
# manuel solution
zoo_unique = []
for i in zoo:
    while zoo_unique.count(i) == 0:
        zoo_unique.append(i)
zoo_unique

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon']

In [4]:
# jaume solution
zoo_unique = list()
for i in zoo:
    if i not in zoo_unique:
        zoo_unique.append(i)
zoo_unique

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon']

### Exercise 4. Apply the previous function to all the elements in `zoo_unique`

In [5]:
[animal.capitalize() for animal in zoo_unique]

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

In [6]:
list(map(lambda i:i.capitalize(),zoo_unique))

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 5. Merge all elements in alphabetical order in the list separated by '-'
Hint
```python
'-'.join
```

In [7]:
zoo_clean = [animal.capitalize() for animal in zoo_unique]

In [8]:
'-'.join(zoo_clean)

'Bear-Lion-Panda-Zebra-Chimpanzee-Gorilla-Orangutan-Gibbon'

### Exercise 8. Remove blanks elements

In [9]:
zoo = ['Bear','Lion', '', 'Panda', 'Zebra', '', 'Chimpanzee', 'Gorilla', '  ', 'Orangutan', 'Gibbon', '']

In [10]:
' '.strip() == ''

True

In [11]:
# filtering out
for i in zoo:
    if i.strip() == "":
        zoo.remove(i)

In [12]:
zoo

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 9. Filter those elements that starts in `b` or ends with  `a`

In [13]:
zoo = ['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

In [22]:
zoo_ab = list()
for animal in zoo:
    if animal.lower().endswith('a') or animal.lower().startswith('b'):
        zoo_ab.append(animal)

In [23]:
zoo_ab

['Bear', 'Panda', 'Zebra', 'Gorilla']

### Exercise 10. Filter those elements that have more than 5 letters
```python
['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']
['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

```

In [25]:
zoo = ['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']
['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']
list_five = list()
for i in zoo:
    if len(i)>5:
        list_five.append(i)

In [26]:
list_five

['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']