### Exercise 1. Using the following list, clean all the elements, the sould be in lowercase and without spaces

Hint
```python
"bear" in ["bear", "lion"]
```

In [112]:
zoo  = ['bEAr ', ' liOn', 'panda', ' zebra', 'chiMpanzee ', 
        'goRIlla', 'ORangUtan ', 'gIbbon', 'giBBon ', 'beAr', 'lIon ', 'paNda ' ]

In [113]:
zoo = [i.lower().strip() for i in zoo]
zoo

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon',
 'gibbon',
 'bear',
 'lion',
 'panda']

### Exercise 2. Using the following list, create a list containing the unique values, i.e. no duplicates, name it `zoo_unique`

Hint
```python
"bear" in ["bear", "lion"]
```

In [114]:
zoo_unique = list()
for i in zoo:
    if i not in zoo_unique:
        zoo_unique.append(i)

In [115]:
zoo_unique

['bear',
 'lion',
 'panda',
 'zebra',
 'chimpanzee',
 'gorilla',
 'orangutan',
 'gibbon']

### Exercise 3. Crea a function that takes a string ex. 'bear' and return it with the first letter in uppercase 'Bear'

```python
def capitalize(string):
    # reuturn the first letter in capital
```

In [116]:
def capitalize(string):
    string_clean = string.strip()
    return string_clean[0].upper().strip() + string_clean[1:].lower().strip()

### Exercise 4. Apply the previous function to all the elements in `zoo_unique`

In [117]:
zoo_unique = [capitalize(i) for i in zoo_unique]
zoo_unique

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 5. Merge all elements in alphabetical order in the list separated by '-'
Hint
```python
'-'.join
```

In [118]:
'-'.join(sorted(zoo_unique))

'Bear-Chimpanzee-Gibbon-Gorilla-Lion-Orangutan-Panda-Zebra'

### Exercise 6. Replicate the function of `join` without using it, use a foor loop

In [119]:
join  = ''
for i in range(0,len(zoo_unique)):
    word = sorted(zoo_unique)[i]
    if i>0:
        join += '-' + word
    else:
        join += word
join

'Bear-Chimpanzee-Gibbon-Gorilla-Lion-Orangutan-Panda-Zebra'

### Exercise 7. Capitalize each element in the following list using a list comprehension

In [120]:
zoo  = ['bEAr ', ' liOn', 'panda', ' zebra', 'chiMpanzee ', 
        'goRIlla', 'ORangUtan ', 'gIbbon']

In [121]:
[capitalize(i) for i in zoo]

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 8. Remove blanks elements

In [122]:
zoo = ['Bear','Lion', '', 'Panda', 'Zebra', '', 'Chimpanzee', 'Gorilla', '  ', 'Orangutan', 'Gibbon', '']

In [123]:
for i in zoo:
    if i.strip() == '':
        zoo.remove(i)
zoo

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

In [124]:
zoo = ['Bear','Lion', '', 'Panda', 'Zebra', '', 'Chimpanzee', 'Gorilla', '  ', 'Orangutan', 'Gibbon', '']

In [125]:
zoo = [i for i in zoo if i.strip() != '']
zoo

['Bear',
 'Lion',
 'Panda',
 'Zebra',
 'Chimpanzee',
 'Gorilla',
 'Orangutan',
 'Gibbon']

### Exercise 9. Filter those elements that starts with a b or ends witha a

In [126]:
zoo = ['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

In [127]:
[i for i in zoo if i.strip() if i.lower().startswith('b')]

['Bear']

In [128]:
[i for i in zoo if i.strip() if i.lower().endswith('a')]

['Panda', 'Zebra', 'Gorilla']

### Exercise 10. Filter those elements that have more than 5 letters
```python
['Bear','Lion', 'Panda', 'Zebra', 'Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']
['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']

```

In [129]:
[i for i in zoo if len(i)> 5]

['Chimpanzee', 'Gorilla', 'Orangutan', 'Gibbon']