### Exercise 1. Creates a dictionary using two lists

In [1]:
names = ['Chandler', 'Phoebe',  'Monika', 'Joey' ]
ages = [ 25,  28, 27,  26 ]

#### Expected output

{'Chandler': 25, 'Phoebe': 28, 'Monika': 27, 'Joey': 26}

### Exercise 2. Merge following two Python dictionaries into one

In [3]:
d_new = {'Rachel': 24, 'Ross' : 27}

#### Expected output

{'Chandler': 25,
 'Phoebe': 28,
 'Monika': 27,
 'Joey': 26,
 'Rachel': 24,
 'Ross': 27}

### Exercise 3. Check keys
#### Expected output

dict_keys(['Chandler', 'Phoebe', 'Monika', 'Joey', 'Rachel', 'Ross'])

### Exercise 4. Check values
#### Expected output

dict_values([25, 28, 27, 26, 24, 27])

### Exercise 5. Check items
#### Expected output

dict_items([('Chandler', 25), ('Phoebe', 28), ('Monika', 27), ('Joey', 26), ('Rachel', 24), ('Ross', 27)])

### Exercise 6. Add one year
#### Expected output

In [5]:
for key in d.keys():
    d[key] +=1
d

{'Chandler': 26,
 'Phoebe': 29,
 'Monika': 28,
 'Joey': 27,
 'Rachel': 25,
 'Ross': 28}

### Exercise 8.  Create a dictionary with phones, called it `d_phones`
#### Expected output

In [7]:
phones = ["+34-755-5664", "+34-755-5904", "+34-655-5297", "+34-655-5722", "+34-655-5722", "+34-635-6712"]

{'Chandler': '+34-755-5664',
 'Phoebe': '+34-755-5904',
 'Monika': '+34-655-5297',
 'Joey': '+34-655-5722',
 'Rachel': '+34-655-5722',
 'Ross': '+34-635-6712'}

### Exercise 9. Merge both using tuples

{'Chandler': (26, '+34-755-5664'),
 'Phoebe': (29, '+34-755-5904'),
 'Monika': (28, '+34-655-5297'),
 'Joey': (27, '+34-655-5722'),
 'Rachel': (25, '+34-655-5722'),
 'Ross': (28, '+34-635-6712')}

### Exercise 10. Merge both using dictionarys

{'Chandler': {'age': 26, 'phone': '+34-755-5664'},
 'Phoebe': {'age': 29, 'phone': '+34-755-5904'},
 'Monika': {'age': 28, 'phone': '+34-655-5297'},
 'Joey': {'age': 27, 'phone': '+34-655-5722'},
 'Rachel': {'age': 25, 'phone': '+34-655-5722'},
 'Ross': {'age': 28, 'phone': '+34-635-6712'}}

### Exercise 11. Access the age and the phone using the name, and if the key do not exist, return None