### Exercise 1. Creates a dictionary using two lists

In [1]:
names = ['Chandler', 'Phoebe',  'Monika', 'Joey' ]
ages = [ 25,  28, 27,  26 ]

#### Expected output

In [2]:
d = dict(zip(names, ages))
d

{'Chandler': 25, 'Phoebe': 28, 'Monika': 27, 'Joey': 26}

### Exercise 2. Merge following two Python dictionaries into one

In [3]:
d_new = {'Rachel': 24, 'Ross' : 27}

#### Expected output

In [4]:
d.update(d_new)
d

{'Chandler': 25,
 'Phoebe': 28,
 'Monika': 27,
 'Joey': 26,
 'Rachel': 24,
 'Ross': 27}

In [5]:
# alternative solution
{**d, **d_new}

{'Chandler': 25,
 'Phoebe': 28,
 'Monika': 27,
 'Joey': 26,
 'Rachel': 24,
 'Ross': 27}

In [6]:
# python 3.9
# d | d_new

### Exercise 3. Check keys
#### Expected output

In [7]:
d.keys()

dict_keys(['Chandler', 'Phoebe', 'Monika', 'Joey', 'Rachel', 'Ross'])

### Exercise 4. Check values
#### Expected output

In [8]:
d.values()

dict_values([25, 28, 27, 26, 24, 27])

### Exercise 5. Check items
#### Expected output

In [13]:
d.items()

dict_items([('Chandler', 27), ('Phoebe', 30), ('Monika', 29), ('Joey', 28), ('Rachel', 26), ('Ross', 29)])

### Exercise 6. Add one year
#### Expected output

In [14]:
for key in d.keys():
    d[key] +=1
d

{'Chandler': 28,
 'Phoebe': 31,
 'Monika': 30,
 'Joey': 29,
 'Rachel': 27,
 'Ross': 30}

In [15]:
# alternative
for key, value in d.items():
    d[key] = value +1 
d

{'Chandler': 29,
 'Phoebe': 32,
 'Monika': 31,
 'Joey': 30,
 'Rachel': 28,
 'Ross': 31}

In [16]:
# dict comprehension if someone uses it
{key:value + 1 for key, value in d.items()}

{'Chandler': 30,
 'Phoebe': 33,
 'Monika': 32,
 'Joey': 31,
 'Rachel': 29,
 'Ross': 32}

### Exercise 8.  Create a dictionary with phones, called it `d_phones`
#### Expected output

In [17]:
phones = ["+34-755-5664", "+34-755-5904", "+34-655-5297", "+34-655-5722", "+34-655-5722", "+34-635-6712"]

In [18]:
d_phones = dict(zip(d.keys(), phones))
d_phones

{'Chandler': '+34-755-5664',
 'Phoebe': '+34-755-5904',
 'Monika': '+34-655-5297',
 'Joey': '+34-655-5722',
 'Rachel': '+34-655-5722',
 'Ross': '+34-635-6712'}

### Exercise 9. Merge both using tuples

In [19]:
d_both = dict()
for key in d.keys():
    d_both[key] = (d[key], d_phones[key])
d_both

{'Chandler': (29, '+34-755-5664'),
 'Phoebe': (32, '+34-755-5904'),
 'Monika': (31, '+34-655-5297'),
 'Joey': (30, '+34-655-5722'),
 'Rachel': (28, '+34-655-5722'),
 'Ross': (31, '+34-635-6712')}

### Exercise 10. Merge both using dictionarys

In [20]:
d_both = dict()
for key in d.keys():
    d_both[key] = {'age': d[key], 'phone': d_phones[key]}
d_both

{'Chandler': {'age': 29, 'phone': '+34-755-5664'},
 'Phoebe': {'age': 32, 'phone': '+34-755-5904'},
 'Monika': {'age': 31, 'phone': '+34-655-5297'},
 'Joey': {'age': 30, 'phone': '+34-655-5722'},
 'Rachel': {'age': 28, 'phone': '+34-655-5722'},
 'Ross': {'age': 31, 'phone': '+34-635-6712'}}

### Exercise 11. Access the age and the phone using the name, and if the key do not exist, return None

In [21]:
d_both.get('Gunther')
# d_both.get('Gunther', None)