## Exercise  1

calculates the square of each number

In [75]:
l = [1,2,3,4]

## Exercise  2

add an a at the end of each word

In [73]:
l = ['gabriel', 'paul', 'andre', 'juli', 'manuel']

## Exercise  3

filter even numbers from 0 to 10

## Exercise 4
Filter the characters if they are under 26

In [82]:
l = ['Chandler', 25, 'Phoebe', 28,  'Monika', 27, 'Joey', 26 ]
list_tuples = list(zip(l[1::2],l[0::2]))
list_tuples

[(25, 'Chandler'), (28, 'Phoebe'), (27, 'Monika'), (26, 'Joey')]

# Exercise 5
Join the two list to create a `bloody-mari` a `ron-cola` or `gin-tonic`

In [85]:
l1 = ['bloody', 'ron', 'gin']
l2 = ['mary', 'cola', 'tonic']

# Exercise 6
Replicate the folling cell using a map

In [87]:
name = ['Chandler', 'Phoebe', 'Monika', 'Joey']
ages = [25, 28, 27, 26]
list(zip(name, ages))

[('Chandler', 25), ('Phoebe', 28), ('Monika', 27), ('Joey', 26)]

## Exercise 7
calculates the summation using a reduce

In [1]:
from functools import reduce

In [93]:
l = list(range(1,120))

## Exercise 8
calculates the product using a reduce

## Exercise 9
calculate the element-wise sum between x and y

In [105]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [10,9,8,7,6,5,4,3,2,1]

## Exercise 10
sum previous result using reduce